<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <springProperty scope="context" name="LOG_LEVEL" source="logging.level.root"/>
    <property name="LOG_PATH" value="./logs/${log.path:-}"/>
    <property name="LOG_FILE_NAME" value="app-api"/>
    <property name="LOG_PATTERN" value="%-5level %d{yy-MM-dd HH:mm:ss}[%thread] [%logger{0}:%line] - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="team.three.usedstroller.api.config.LogbackFilter"/>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.springframework.context.support.PostProcessorRegistrationDelegate$BeanPostProcessorChecker" level="OFF"/>
    <logger name="org.springframework.data.repository.config.RepositoryConfigurationExtensionSupport" level="OFF"/>
    <logger name="org.springframework.data.repository.config.RepositoryConfigurationDelegate" level="OFF"/>
    <logger name="org.springframework.security.web.DefaultSecurityFilterChain" level="OFF"/>
    <logger name="org.springframework.data.convert.CustomConversions" level="ERROR"/>
    <logger name="jdbc"                                   level="OFF"/>
    <logger name="jdbc.sqlonly"                           level="OFF"/>
    <logger name="jdbc.sqltiming"                         level="OFF"/>
    <logger name="jdbc.audit"                             level="OFF"/>
    <logger name="jdbc.resultset"                         level="OFF"/>
    <logger name="jdbc.resultsettable"                    level="OFF"/>
    <logger name="jdbc.connection"                        level="OFF"/>
    <logger name="org.springframework.boot.autoconfigure" level="OFF"/>
    <logger name="org.hibernate"                          level="OFF"/>
    <logger name="com.zaxxer.hikari"                      level="OFF"/>
    <logger name="net.sf.log4jdbc.sql.resultset.ResultSetSpy" level="OFF"/>
    <logger name="team.three.usedstroller.api.common.aop.ProductLogAop"     level="INFO"/>
    <springProfile name="local">
        <root level="${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="${LOG_LEVEL}">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
